<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="header">
        <div class="left">
            <h1>Create solution</h1>
        </div>
        <div class="right">
            <i><a href="">What is a solution?</a></i>
        </div>
    </div>

    <div class="main">
        <form [formGroup]="solutionForm" (ngSubmit)="onSubmit()" class="max-w-3xl">
            <p class="text-lg font-medium">Basic information</p>
            <p class="text-secondary mb-6"> Set your login preferences, help us personalize your experience and make big
                account changes here </p>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="name" required maxlength="250" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="3"></textarea>
            </mat-form-field>
            <br />
            <!--

            <p class="text-lg font-medium">Template</p>
            <p class="text-secondary mb-6"> Set your login preferences, help us personalize your experience and make big
                account changes here </p>
            <p class="text-secondary text-right">
                <mat-icon color="primary" class="mr-2">view_list</mat-icon>
                <mat-icon class="mr-4">view_module</mat-icon>
            </p>

            <div class="cards">
                <treo-card matRipple [matRippleColor]=""
                    [ngClass]="{ 'mb-6': true, 'active': this.solutionForm.value.template === template.id}"
                    *ngFor="let template of templates" (click)="selectTemplate(template)">
                    <img class="w-80 gt-sm:w-64 object-cover" src="assets/images/cards/11-512x512.jpg">
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">{{ template.name }}</div>
                        <div class="text-secondary font-medium text-md mt-1">Updated with 20 new locations</div>
                        <div class="mt-4">{{ template.description }}</div>
                        <div class="mt-3 -mx-3">
                            <button class="px-3" mat-button [color]="'primary'" [routerLink]="['./']">
                                Read More
                            </button>
                        </div>
                    </div>
                </treo-card>
                <input type="hidden" formControlName="template" />
            </div>
            -->
            <!--
            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>File upload</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
            -->

            <div class="actions">
                <div class="buttons">
                    <button class="save-button" mat-stroked-button type="submit">
                        <mat-icon [svgIcon]="'save'"></mat-icon>
                        <span>Create solution</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>