<form [formGroup]="form" class="flex flex-col overflow-hidden">
<<<<<<< HEAD
=======

    <h1>@todo Generate the form</h1>
    <!-- {{service.api | json}} -->

    <!-- {{ serverList | json}} -->

    <!-- {{path | json}} -->

    <mat-divider class="mt-4 mb-12"></mat-divider>
>>>>>>> development_r3
    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
        <div class="gt-xs:max-w-80 gt-xs:pr-12">
            <p class="text-lg font-medium">Input</p>
            <p class="text-secondary mb-6">
                Define the context in which you want to search for the answer to your question
            </p>
        </div>
        <div class="flex-auto min-w-64">
            <div *ngIf="!!responseApiTest">
                <app-dynamic-child [componentData]="responseApiTest" [form]="form">
                </app-dynamic-child>
            </div>

            <app-input-select [componentData]="serverList" [form]="form"> </app-input-select>
            <app-input-select [componentData]="pathList" [form]="form"> </app-input-select>

        </div>
    </div>

    <!-- <mat-divider class="mt-4 mb-12"></mat-divider> -->
    <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5">
        <button class="px-6 ml-3 text-lg" mat-flat-button [color]="'primary'" [class.spinner]="loading"
            [disabled]="loading" (click)="ask()">
            Run
        </button>
    </div>
    <mat-divider class="mt-4 mb-12"></mat-divider>

    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
        <div class="gt-xs:max-w-80 gt-xs:pr-12">
            <p class="text-lg font-medium">Output</p>
            <p class="text-secondary mb-6">
                The following answer was found in the context
            </p>
        </div>
        <div class="flex-auto min-w-64">
            <div class="flex text-3xl">
                <ngx-json-viewer [json]="response"></ngx-json-viewer>
                <!-- {{ response }} -->
            </div>


        </div>
    </div>



</form>